@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Noto+Sans+Display:ital,wght@1,100&family=Noto+Sans:wght@700&family=Open+Sans:wght@500;600&display=swap');* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #047857;
}

body {
  font-family: "Work Sans", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

main {
  text-align: center;
  margin: 3rem;
}

h2 {
  font-size: xx-large;
  margin: 2rem;
  color: var(--primary-color)
}

.input-label {
  display: block;
  font-size: large;
  font-weight: 600;
}

.input {
  font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
}

#show-btn {
  background: var(--primary-color);
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: auto;
  display: block;
}

#result {
  font-size: x-large;
  margin: 3rem 0;
  border: 2px;
  border-radius: 1rem;
  color: var(--primary-color);
}

.footer-header {
    background-color: #047857;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 0 0 2rem 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .footer-header .social-links {  
    margin: 1rem;
  }
  
  .handle-logo {
    width: 2rem;
    margin: 1rem;
  }

  .connect {
      color: white;
      font: 'Noto Sans', sans-serif;
  }
